apispec==3.1.0
click==7.0
Flask==1.1.1
Flask-HTTPAuth==3.3.0
Flask-Limiter==1.1.0
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.7.1
itsdangerous==1.1.0
Jinja2==2.10.1
limits==1.3
MarkupSafe==1.1.1
nose2==0.9.1
passlib==1.7.2
PyYAML==5.1.2
six==1.13.0
SQLAlchemy==1.3.11
Werkzeug==0.16.0